html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  min-height: 100vh;
}

header {
  height: 80vh;
  max-width: 100vw;
  background: linear-gradient(to top, #ff9653 40%, #a3b5d1);
  position: relative;
  overflow: hidden;
}

/* SVG text*/
:nth-child(1 of header > img) {
  position: absolute;
  top: calc(12% - 5vw);
  width: calc(30rem + 30vw);
  text-align: center;
  z-index: 1;
}

/* Moon */
:nth-child(2 of header > img) {
  position: absolute;
  top: calc(35% - 15vw);
  right: 10%;
  z-index: 1;
}

/* Moon reflection */
#reflectMoon  {
    display: inline-block;
    position: absolute;
    top: clamp(-3%, calc(15% - 14vw), 13%);
    right: 10%;
    z-index: 1;
    transform: scale(1, -1);
    opacity: .6;
  }

/* Mountain */
:nth-child(3 of header > img) { /* Might need to target better. This should do the trick.*/
  position: absolute;
  bottom: 0;
  min-width: 100%;
  width: 125%;
  max-height: 75%;
}

/* About me section */
#aboutMe {
  background: linear-gradient(to bottom, #007A8D 20%, #2DFE54);
  padding-top: 10rem;
  position: relative;
  /* Grid code. */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-rows: 2fr 1fr 2fr 2fr;
  place-items: center;
}

#aboutMe > #bull {
  border-radius: 50%;
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
}

#aboutMe > h1 {
  margin: 0;
  grid-area: 2 / 2 / 3 / 3;
  text-align: center;
  font-size: calc(2.8rem + .5vw);
  font-family: 'Merienda', cursive;
  font-weight: 700;
  color: #FFD700;
  text-shadow: 
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
}

#aboutMe > p {
  grid-area: 3 / 2 / 4 / 3;
  font-size: calc(1.8rem + .5vw);
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 
  -1px -1px 0 #FFD700,
  1px -1px 0 #FFD700,
  -1px 1px 0 #FFD700,
  1px 1px 0 #FFD700;
}

.container {
  background: linear-gradient(#2DFE54 10%, #ff9653);
  padding-top: 10rem;
  padding-bottom: 5rem;
}

#skillExpress {
  margin: 0 auto;
  width: 80%;
  /* Flex Properties */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(2rem + 1vw);
}

#skillExpress > * {
  width: 100%;
  text-align: center;
}

.skillImg {
  width: 80%;
  /* border-radius: 50%; */
}

h2 {
  margin: 0;
  font-size: calc(2.5rem + .5vw);
  font-family: 'Merienda', cursive;
  font-weight: 700;
  color: #0096FF;
  text-shadow: 
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
}

h3 {
  margin: 0 0 calc(1rem + 1vw);
  font-size: calc(2.2rem + .5vw);
  font-family: 'Merienda', cursive;
  font-weight: 300;
  color: #0096FF;
  text-shadow: 
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
}

.leftDiv > p {
  margin-bottom: calc(2rem + 1vw);
  font-size: calc(1.8rem + .5vw);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 
  -1px -1px 0 #0096FF,
  1px -1px 0 #0096FF,
  -1px 1px 0 #0096FF,
  1px 1px 0 #0096FF;
}

.rightDiv > p {
  font-size: calc(1.8rem + .5vw);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 
  -1px -1px 0 #0096FF,
  1px -1px 0 #0096FF,
  -1px 1px 0 #0096FF,
  1px 1px 0 #0096FF;
}

footer {
  clear: both;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.4rem;
  margin-top: rem;
}

footer > img {
  width: 10%;
  max-width: 15rem;
}

a {
  font-family: 'Nixie One', cursive;
}

@media screen and (min-width: 1000px) {
  #skillExpress {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1.5fr .5fr 1.5fr 2fr;
    grid-template-rows: 1fr 2fr 2fr;
    row-gap: calc(1rem + 1vw);
    column-gap: 0;
  }

  #skillExpress > h2 {
    grid-area: 1 / 1 / 2 / 6;
  }

  #h3AndImgL {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 5rem; */
  }

  p.leftDiv {
    grid-area: 2 / 2 / 3 / 3;
    font-size: calc(1.8rem + .5vw);
  }

  #h3AndImgR {
    grid-area: 3 / 5 / 4 / 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p.rightDiv {
    grid-area: 3 / 4 / 4 / 5;
    font-size: calc(1.8rem + .5vw);
  }
}